body {
    background-color: blanchedalmond;
    font-size: 1.5rem;
    font-family: sans-serif;
}

h1 {
    color: black;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.container:hover .box__title i {
    display: block;
}

.container:hover span {
    color: black;
}

.content {
    padding: 0 2rem;
    flex: 1 1 auto;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-top: 1px solid #725050;
}

.box:hover > .box__title > .box__avatar {
    display: block;
    transform: scale(1s);
}

.box:hover > .box__title i {
    transform: translate(-25%, -50%) rotate(45deg);
}

.box__title i {
    display: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in-out;
}

input[type='radio']:checked ~ .box__title > .box__avatar {
    display: block;
    cursor: pointer;
}

input[type='radio']:checked ~ .box__title span {
    color: black;
}

input[type='radio']:checked ~ .box__title i {
    transform: translate(-25%, -50%) rotate(45deg);
}

.box input[type='radio'] {
    display: none;
}

.box__title {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.box__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}

.box__title i {
    position: relative;
    transform-origin: center center;
    width: 1rem;
    height: 1rem;
}

.box__avatar {
    margin: 1rem auto;
    overflow: hidden;
    width: 20rem;
    height: 20rem;
    display: none;
    opacity: 0;
    animation: fade-in 2s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.box__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

span {
    color: rgb(9, 9, 160);
}

@media (width: 320px) {
    .box__avatar {
        width: 10rem;
        height: 10rem;
    }
    body {
        font-size: 1rem;
    }
    span {
        font-size: 1rem;
    }
    .content {
        padding: 0 0.5rem;
    }
}

@media (width: 820px) {
    .box__avatar {
        width: 30rem;
        height: 30rem;
    }
    body {
        font-size: 2rem;
    }
    span {
        font-size: 2rem;
    }
    .content {
        padding: 0 2rem;
    }
}

@media (width: 1920px) {
    .content {
        padding: 0 25rem;
    }
}
